footer {
    color: #000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    background: linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%)
}

footer h4 {
    font-size: 2.25rem;
    font-weight: bold;
    margin: 0 0 .9em 0;
}

.footerLinks {
    display: flex;
    flex-direction: row;
}

.footerLinks li a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    font-size: 1.5em;
    background: #fff;
    overflow: hidden;
    color: #000;
    transition: all 0.3s ease-in-out;
    cursor: pointer;
    border-radius: 50px;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.footerLinks li a:hover {
    width: 200px;
}

.twitter:hover {
    color: #fff;
    background: #1da1f2;
}

.instagram:hover {
    color: #fff;
    background: #e1306c;
}

.linkedin:hover {
    background: #0e76a8;
    color: #fff;
}

.twitch:hover {
    background: #6441a5;
    color: #fff;
}

.github:hover {
    background: #000;
    color: #fff;
}

.footerLinks li a:hover span {
    display: block;
    padding: 0 5px 0 7px;
}

.footerLinks li a span {
    display: none;
    font-size: 20px;
    font-weight: 900;
    line-height: 60px;
    margin-left: 10px;
}

.coudeSources {
    width: 100%;
    text-align: center;
    font-size: .8em;
    font-weight: bold;
    line-height: 1.5;
}

.coudeSources p {
    font-size: 1em;
    text-decoration: underline;
    text-transform: uppercase;
}

.coudeSources ul {
    display: flex;
    justify-content: center;
}